.price-blok {
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  margin-right: 20px;
 
}

.text {
  font-size: 18px;
}

.image img {
  width: 290px;
  height: 20vh;
  border-radius: 50px;
}

.slick-slider {
  width: 500px;
  height: 300px;
 
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.slider-content {
  margin-top: 20px;
  margin-left: 100px;
}
.price {
  font-size: 12;
  color:#2b65ec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

