.price-blok {
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  margin-right: 20px;
}

.text {
  font-size: 18px;
}

.image img {
  width: 100%;  
  height: auto; /* Чтобы сохранить пропорции изображения, выставляем высоту в auto */
  object-fit: cover; /* Это свойство определяет, как содержимое должно заполнять блок */
}

.slick-slider {
  height: auto;
}
