body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: hwb(0 87% 11%);
  padding: 5px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 2px;
  border-radius: 4px;
  justify-content: space-around;
}

.header li {
  font-size: 21px;
  display: inline-flex;
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.header li a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: -5px;
  margin-bottom: -5px;
  margin-top: -5px;
}

.logo img {
  width: 80px; /* Задайте нужную ширину */
  height: auto; /* Автоматический расчет высоты */
  margin-right: 5px;
}

.container {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/26/11/09/design-1162241_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 70vh;
  width: 99%;
}

.centered-text {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: aliceblue;
}

.container p {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.container .buttons {
  display: flex;
  justify-content: center;
}

.container button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #2b65ec;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container button:hover {
  background-color: #45a049;
}

.container button:focus {
  outline: none;
}

.titleInfo {
  font-size: 36px;
      margin-bottom: 20px;
      color:#f0f2f6;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.containerInfo {
  position: relative;
  background-image: url('https://images.wallpaperscraft.ru/image/single/fon_piatna_sinij_69078_1280x720.jpg'); /* Путь к вашей фоновой картинке */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.contentInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:left;
  color: #fff;
}

.description {
  font-size: 24px;
  margin-bottom: 5px;
}

.logo {
  width: 30px; /* Размер логотипа */
  height: 30px;
  margin-right: 5px; /* Отступ справа от логотипа */
}

.descriptionItem {
  display: flex; /* Устанавливает элементы внутри .descriptionItem в ряд */
  align-items: center; /* Выравнивает элементы по вертикали */
  margin-bottom: 10px; /* Отступ снизу для .descriptionItem */
}