body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: hwb(212 45% 5%);
  padding: 0px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  justify-content: space-around;
}

.header li {
  font-size: 21px;
  display: inline-flex;
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.header li a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 12px;
}

.logo img {
  width: 80px;
  height: auto;
  margin-right: 5px;
}

.container {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/26/11/09/design-1162241_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  margin-left: 15px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 70vh;
  width: 99%;
}

.centered-text {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: aliceblue;
}

.container p {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.container .buttons {
  display: flex;
  justify-content: center;
}

.container button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #2b65ec;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container button:hover {
  background-color: #45a049;
}

.container button:focus {
  outline: none;
}

.titleInfo {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f0f2f6;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.containerInfo {
  position: relative;
  background-image: url('https://bogatyr.club/uploads/posts/2023-03/1679114258_bogatyr-club-p-khimchistka-fon-foni-oboi-2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.contentInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
}

.description {
  font-size: 24px;
  margin-bottom: 5px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.descriptionItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


@media (max-width: 576px) {
  .header li {
    font-size: 16px;
    margin-right: 8px;
    padding-right: 8px;
    padding-top: 3px;
  }

  .centered-text {
    font-size: 40px;
  }

  .container p {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .container button {
    padding: 8px 16px;
    font-size: 16px;
  }

  .titleInfo {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .icon {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .header li {
    font-size: 18px;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 3px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .header li {
    font-size: 20px;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }
}

@media (min-width: 1201px) {
  .header li {
    font-size: 21px;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 5px;
  }
}
